
.evs-ul-userdetails {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    list-style: none;
  }
  .evs-ul-userdetails li{ display: flex;}
  .evs-ul-userdetails li div{    
    flex: 1 1;
    word-break: break-word;
    font-size: 17px;
    margin: 2px 0px 2px 0px;
    font-family: arial;
    color: #171f32;
}
 
  .evs-ul-addressetails {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    list-style: none;
  }

div .MuiDialogTitle-root {
  flex: 0 0 auto;
  margin: 0;
  padding: 9px 24px;
  background: #03A9F4;
  color: #fff;
  font-size: 18px;
}
.MuiButton-label{
  background: #d23838;
  border: 0px;
  outline: none;
  padding: 8px 15px;
  color: #fff;
  border-radius: 5px;
}
.evs-ul-userdetails li div:first-child{
  width: 140px;
  flex: unset;

}
.flex-div h2{
  margin-top: 0px;
}

.main-container{
  max-width: 98%;
  margin: auto;
  background: #fff;
  min-height: 220px;
}
.search-input{ padding: 5px;
  padding: 5px;
    border: 1px #ccc solid;
    /* width: 217px; */
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    font-size: 16px;
    flex: 1;}
  .input-submit{
    background:green ;
    color: #fff;
    border: 0px;
    padding: 5px 23px;
    font-size: 22px;
    position: relative;
    left: -4px;
    width: 130px;
    z-index: 5;
    border-radius: 0px 10px 10px 0px;
    outline: none;
    cursor: pointer;
  }
  .flex-div{ display:flex;}
  .profile-pic{ width: 300px;}
  .profile-pic img{
    width: 280px;
    border-radius: 10px;
  }
.search-header{
    background:#03a9f4;
    color: #fff;
    padding: 10px;
    margin: 0;
  }
  .inner-div{ padding: 0px 20px 20px 20px;
    max-width: 1100px;
    margin: auto;}
  form{margin: 50px auto;
    max-width: 700px;
    display: flex;}
  .repository-container{ flex: 1;}
  .repository-container ul{
    margin: 0px; padding: 0px;
  }
  .repository-container ul li{
    display: flex;
    font-size: 19px;
    font-weight: bold;
    color: #5a5a5a;
    margin-bottom: 15px;
  }
  .repository-container ul li div:first-child{
    width: 150px;
    
  }
  .repository-container ul li div:last-child{
    flex: 1;
    color: #000;
  }
  .repo-list li{ width: 48%; float: left;     min-height: 95px;}




